/* Arabic - Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


:root {
    --shadow-color: #cc0000;
    --bg-color: #ecebeb;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;

}

.header {
    background-color: #333;
    background-color: #595959;
    color: #ccc;
    height: 2.6rem;
    width: 100%;
    padding: 1.6rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;

    box-shadow: 0 0 10px 1px var(--shadow-color);
}
.header p {
    font-size: 1.65rem;
    font-weight: 800;
    text-shadow:  0 0 1px #afafaf;  
    color: #ff6666;

}

.image-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rbga(0,0,0, 0.8);
    overflow: hidden;

    box-shadow: 0 3px 10px 0 #ff6666;
    margin: 0.23rem 0;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    overflow: hidden;

    filter: opacity(.75);

    animation:          scale 15s        ;
    -webkit-animation:  scale 15s        ;
    -o-animation:       scale 15s        ;
    -moz-animation:     scale 15s        ;
    -ms-animation:      scale 15s        ; 

}
@keyframes scale  {
    0% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);

    }
}
.celebrate {
    position: absolute;
    top: 18%;
    left: 7%;
    
}
.celebrate p {
    display: inline-block;
    margin: 0 1.2rem;

    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    text-shadow: 0 0.3rem 0.3rem var(--shadow-color);

}
.celebrate p:nth-child(1) {
    /* animation =>      [duration] [Delay] [fill-mode] */
    animation:          celebrate 1.5s  forwards 3 ;
    -webkit-animation:  celebrate 1.5s  forwards 3  ;
    -moz-animation:     celebrate 1.5s  forwards 3 ;
    -o-animation:       celebrate 1.5s  forwards 3 ;
    -ms-animation:      celebrate 1.5s  forwards 3 ;

    
}

.celebrate p:nth-child(2) {
       /* animation =>      [duration] [Delay] [fill-mode] */
       animation:          celebrate 2s  forwards;
       -webkit-animation:  celebrate 2s  forwards   ;
       -moz-animation:     celebrate 2s  forwards  ;
       -o-animation:       celebrate 2s  forwards ;
       -ms-animation:      celebrate 2s  forwards ;
}
.celebrate p:nth-child(3) {
      /* animation =>      [duration] [Delay] [fill-mode] */
      animation:          celebrate 2.5s  forwards 3;
      -webkit-animation:  celebrate 2.5s  forwards 3  ;
      -moz-animation:     celebrate 2.5s  forwards 3 ;
      -o-animation:       celebrate 2.5s  forwards 3;
      -ms-animation:      celebrate 2.5s  forwards 3;
}
.celebrate p:nth-child(4) {
   /* animation =>      [duration] [Delay] [fill-mode] */
    animation:         celebrate 3s  forwards;
   -webkit-animation:  celebrate 3s  forwards   ;
   -moz-animation:     celebrate 3s  forwards  ;
   -o-animation:       celebrate 3s  forwards ;
   -ms-animation:      celebrate 3s  forwards ;
}
@keyframes celebrate {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        display: none;
    }
}
.word {
    /* width: fit-content; */
    width: max-content;
    /* padding: 0.5rem; */
    border-radius: 15px;
    background-color: #ecebeb;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    
    margin: 6rem auto;

}
.word h1 {
    text-shadow: 0 0 1px var(--shadow-color);
    /* color: #ff0000; */
    color: #4d4d4d;
    font-family: 'Noto Naskh Arabic', serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    
    /* Important for the typing aniimation!!! */
    /* word-wrap: ; */
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 1px solid #000; */
    border-left: 1px solid #000;
    padding-right: 5px;
    /* padding: 0 5px; */
    direction: rtl;
    animation:    
                typing 2s steps(20)  infinite alternate,
                blink 0.7s infinite
    ;
    -webkit-animation:   typing 2s steps(20)  infinite alternate,
                blink 0.7s infinite       ;
    -o-animation:        typing 2s steps(20)   infinite alternate,
                blink 0.7s infinite       ;
    -moz-animation:      typing 2s steps(20)   infinite alternate,
                blink 0.7s infinite       ;
    -ms-animation:       typing 2s steps(20)   infinite alternate,
                blink 0.7s infinite       ;
}
@keyframes typing {
    0% {
        width: 0%;
        visibility: hidden;
    }   
    100% {
        width: 110%;
    } 
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #000;

    }
}
.my-message {
    margin: 10rem auto; 

}
.my-message h2 {
    background-color: var(--bg-color);
    text-shadow: 0 0 1px var(--shadow-color);
    color: #4d4d4d;
    font-family: 'Noto Naskh Arabic', serif;
    font-weight: 600;
    font-style: italic;
    /* letter-spacing: 0.32rem; */
    font-size: 1.65rem;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 0 5px var(--shadow-color);
}
.my-message p {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 0.95rem;
    font-weight: normal;
    width: 50%;
    /* background-color: #b0d9ff; */
    background-color: #cce6ff;
    color: #4d4d4d;
    margin: 3rem auto ;
    padding: 0.62rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 3px 1px var(--shadow-color);

    animation:             card-scale 10s linear infinite;
    -webkit-animation:     card-scale 10s linear infinite;
    -moz-animation:        card-scale 10s linear infinite;
    -o-animation:          card-scale 10s linear infinite;
    -ms-animation:         card-scale 10s linear infinite;

    
}
@keyframes card-scale {
    from {
        transform: scale(1.3);
        opacity: 0.6;
    }
    to {
        transform: scale(1);
        opacity: 1;

    }
}
.chances {
    height: auto;
    max-height: 50vh;
    object-fit: cover;

    margin: 6rem 0 0;
}
.chances img {
    animation:          scale 20s        ;
    -webkit-animation:  scale 20s        ;
    -o-animation:       scale 20s        ;
    -moz-animation:     scale 20s        ;
    -ms-animation:      scale 20s        ; 
}
#wish p {
    animation:none;
    /* width: 70%; */
    width: fit-content;
    padding: 0.4rem 0.65rem ;

}
#final p {
    background-color: #002;
    color : #f5f5f5b4;
    animation: none;
    width: fit-content;
    padding: 0.95rem  ;

}
.messi {
    width: 90%;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px 3px #000;
    border-radius: 20px;

    margin: auto;
    
    /* animation:          messi 10s  0.25s linear 2;
    -webkit-animation:          messi 10s  0.25s linear 2;
    -o-animation:          messi 10s  0.25s linear 2;
    -moz-animation:          messi 10s  0.25s linear 2;
    -ms-animation:          messi 10s  0.25s linear 2; */

}
.messi img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(20px) brightness(0.4);


}
/* @keyframes messi {
    from {
        opacity: 0.1;
        filter: blur(20px);
    }
    to {
        opacity: 1;
    }

} */
.messi img:hover {
    filter: none;

    transition:     1s 0.3s  ;
    -webkit-transition:     1s 0.3s  ;
    -o-transition:     1s 0.3s  ;
    -moz-transition:     1s 0.3s  ;
    -ms-transition:     1s 0.3s  ;
}
.footer {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #17181b;
    font-family: 'Baloo 2', cursive;

    box-shadow: 0 1px 10px #002;

    color: #ead6c8;
    /* position: fixed; */
    /* bottom: 0; */
    padding: 1.4em 0;
    margin: 10rem auto 0; 
}
.footer p {
    font-size: 0.85em;
    font-family: 'Baloo 2', cursive;
    text-align: center;

    margin: 0 0.2rem  ;
   
}

